body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2{
	background-color: #FF3366;
	padding: 20px;
}

h1{
	padding: 20px;
	background-color: #99FFCC;
}

.messagebox{
	width: 40%;
	float:left;
	margin-left: 30px;
}

.questions{
	height: 300px;
	width: 40%;
	float: left;
}

.list{
	list-style-type: none;
}