body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.fanta, .cola
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	transition: all 0.2s ease-in;
}

.fanta
{
	background-color: orange;
}

.cola
{
	background-color: red;
}