extends ../layout

block content
  h1 Drinks
  p Welcome to the drinks page
  ul
   li
    a(href="#" data-drink="fanta" class="drink") Fanta
   li
    a(href="#" data-drink="cola" class="drink") Cola
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/drinks.js")