<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Digital Bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Load theme styles -->
        <link rel="stylesheet" href="assets/bower_components/fontawesome/css/font-awesome.css" />
        <link rel="stylesheet" href="assets/bower_components/normalize.css/normalize.css" />

        <link rel="stylesheet" href="assets/css/styles.css" />
    </head>

    <body>
        <div class="container" ng-app="imdApp" ng-controller="myController">
            <h1>Digital Bar</h1>

            <div class="center">
                <label for="name">Tell me, what is your name?</label>
                <input type="text" name="name" ng-model="myName"/>

                <p ng-if="myName"> Hello {{myName}}, order some drinks!</p>
            </div>

            <div ng-if="myName" class="productsContainer">

                <div class="orderAdd">
                    <input ng-model="pSearch" type="text" placeholder="Zoek een product"/>
                    <p ng-if="pSearch">{{pSearch}}</p>

                    <ul class="productList" >
                        <li ng-repeat="p in products | filter:pSearch">
                            <span class="name">{{p.name}}</span>
                            <small class="quantity">{{p.quantity}}</small>
                            <button ng-click="p.quantity = p.quantity + 1">+</button>
                            <button ng-click="p.quantity = p.quantity - 1">-</button>
                        </li>
                    </ul>
                    <button class="action" ng-click="orderProducts()">Send your order</button>
                    <p ng-if="orderSent">Your order has been added!</p>
                </div>


                <div class="addProduct">
                    <label>Nieuw Product</label>
                    <div class="input-wrapper">
                        <input ng-model="product.name" type="text" placeholder="Productnaam" />
                    </div>
                    {{product.name}}
                    <button ng-click="addProduct()" class="action">Add product</button>
                </div>
            </div>
        </div>

        <!-- SCRIPTS ///////////////////////////////////////////////////// -->

        <!-- ANGULAR -->
        <script src="assets/bower_components/jquery/dist/jquery.js"></script>
        <script src="assets/bower_components/lodash/lodash.js"></script>
        <script src="assets/bower_components/angular/angular.js"></script>

        <!-- LOCAL SCRIPT-->
        <script>
            // Insert Angular magic here`
            var app = angular.module('imdApp', []);

            app.controller('myController', function($scope, $http){
                console.log('hi there!', $scope);
              
              $scope.myName = 'marijn';
              $scope.product = {
                name : ""
              };

              var getallproducts = function getallproducts(){
                $http.get('http://imd.district01.be/product').
                  success(function(data, status, headers, config) {
                    //console.log(data);
                    $scope.products = data;
                    
                    // this callback will be called asynchronously
                    // when the response is available
                  }).
                  error(function(data, status, headers, config) {
                    console.log("fout met api");
                    // called asynchronously if an error occurs
                    // or server returns response with an error status.
                  });
              }

                $scope.addProduct = function(){

                    $http.post("http://imd.district01.be/product", $scope.product)
                    .success(function(data, status, headers, config) {
                    getallproducts();
                    
                    
                    // this callback will be called asynchronously
                    // when the response is available
                      }).
                      error(function(data, status, headers, config) {
                        console.log("fout met api");
                        // called asynchronously if an error occurs
                        // or server returns response with an error status.
                  });
                    

                };
                getallproducts();

                

                $scope.order = [{"username":"", "created":"", "products": [{_id:"", name:"", qty:""}] }];

                $scope.orderProducts = function orderProducts() {
                    var data = _.filter($scope.products, function(p) {
                        return p.quantity > 0;
                    });
                    if(data.length > 0) {
                        $http.post('http://imd.district01.be/order', {username: $scope.myName, products: data})
                        .success(function( data, status, headers, config) {
                            console.log("Gelukt");
                            $scope.orderSent = true;


                        // this callback will be called asynchronously
                        // when the response is available
                        }).
                        error(function(data, status, headers, config) {
                            console.log("Failed");

                            // called asynchronously if an error occurs
                            // or server returns response with an error status.
                        });
                    }
                }
                app.directive('amountControl', function(){
                return {
                    restrict: 'EAC',
                    template:'<button ng-click="p.quantity = p.quantity +1">+</button><button ng-click="p.quantity = p.quantity-1">-</button>',
                    scope: {
                        qty: '=amount'
                    }
                };
            });


              
            });

            // API URL: 'http://imd.district01.be'
            // PRODUCTS: 'http://imd.district01.be/product' (PUT - GET)
            // ORDER: 'http://imd.district01.be/order' (POST)
        </script>

    </body>

</html>
