extends ../layout

block content
 
 .questions
  h1 Questions
  ul.list
 .messagebox
  h2 ASK A QUESTION!
  form(action="" id="form")
   input.form-control#name(type='text', placeholder='Whats your name?')
   textarea.form-control.question(rows='3', placeholder="Ask a question here!")
   button.btn.btn-default(type="submit", value="submit") Send Q
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/messages.js")